<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
<div class="head-container">
    <div class="head-item">타입</div>
    <div class="head-item">부품</div>
    <div class="head-item">부품 번호</div>
    <div class="head-item">현재 배치 번호</div>
    <div class="head-item">최초 투입 시간</div>
</div>
<div class="main-container">
    <div id="미들멤버(CRI2-20, U-engine)" class="main-item">
        <div class="main-item-item">CRI2-20</div>
        <div class="main-item-item">미들멤버(U-engine)</div>
        <div class="main-item-item">F00V.C02.705</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="미들멤버(CRI2-20, R-engine)" class="main-item">
        <div class="main-item-item">CRI2-20</div>
        <div class="main-item-item">미들멤버(R-engine)</div>
        <div class="main-item-item">F00V.C02.706</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="아마추어(CRI2-20)" class="main-item">
        <div class="main-item-item">CRI2-20</div>
        <div class="main-item-item">아마추어</div>
        <div class="main-item-item">F00V.C08.520</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="밸브피스(CRI2-20)" class="main-item">
        <div class="main-item-item">CRI2-20</div>
        <div class="main-item-item">밸브피스</div>
        <div class="main-item-item">F00V.C03.616</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="노즐니들(CRI2-20)" class="main-item">
        <div class="main-item-item">CRI2-20</div>
        <div class="main-item-item">노즐니들</div>
        <div class="main-item-item">F00V.W8Z.531</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="밸브스풀(CRI2-20)" class="main-item">
        <div class="main-item-item">CRI2-20</div>
        <div class="main-item-item">밸브스풀</div>
        <div class="main-item-item">F00V.C02.600</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="터키 마그넷그룹(CRI2-20)" class="main-item">
        <div class="main-item-item">CRI2-20</div>
        <div class="main-item-item">마그넷그룹(터키)</div>
        <div class="main-item-item">F00V.C30.409</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="마그넷코어(CRI2-20)" class="main-item">
        <div class="main-item-item">CRI2-20</div>
        <div class="main-item-item">마그넷코어</div>
        <div class="main-item-item">F00V.C31.502</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="노즐너트(CRI2-20, U-engine)" class="main-item">
        <div class="main-item-item">CRI2-20</div>
        <div class="main-item-item">노즐너트(U-engine)</div>
        <div class="main-item-item">F00V.C14.603</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="노즐너트(CRI2-20, R-engine)" class="main-item">
        <div class="main-item-item">CRI2-20</div>
        <div class="main-item-item">노즐너트(R-engine)</div>
        <div class="main-item-item">F00V.C14.602</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="미들멤버(CRI2-22AP, A2-engine)" class="main-item">
        <div class="main-item-item">CRI2-22AP</div>
        <div class="main-item-item">미들멤버(A2-engine)</div>
        <div class="main-item-item">F00V.C02.721</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="미들멤버(CRI2-22AP, R-engine)" class="main-item">
        <div class="main-item-item">CRI2-22AP</div>
        <div class="main-item-item">미들멤버(R-engine)</div>
        <div class="main-item-item">F00V.C02.718</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="노즐니들(CRI2-22AP)" class="main-item">
        <div class="main-item-item">CRI2-22AP</div>
        <div class="main-item-item">노즐니들</div>
        <div class="main-item-item">F00V.W8Z.535</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="밸브스풀(CRI2-22AP)" class="main-item">
        <div class="main-item-item">CRI2-22AP</div>
        <div class="main-item-item">밸브스풀</div>
        <div class="main-item-item">F00V.C02.622</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="마그넷코어(CRI2-22AP)" class="main-item">
        <div class="main-item-item">CRI2-22AP</div>
        <div class="main-item-item">마그넷코어</div>
        <div class="main-item-item">F00V.C31.504</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="밸브피스(CRI2-22AP)" class="main-item">
        <div class="main-item-item">CRI2-22AP</div>
        <div class="main-item-item">밸브피스</div>
        <div class="main-item-item">F00V.C03.650</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="아마추어(CRI2-22AP)" class="main-item">
        <div class="main-item-item">CRI2-22AP</div>
        <div class="main-item-item">아마추어</div>
        <div class="main-item-item">F00V.C08.547</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="밸브스프링(CRI2 공용)" class="main-item">
        <div class="main-item-item">CRI2-20ff</div>
        <div class="main-item-item">밸브스프링</div>
        <div class="main-item-item">F00V.C09.309</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
    <div id="밸브너트(CRI2 공용)" class="main-item">
        <div class="main-item-item">CRI2-20ff</div>
        <div class="main-item-item">밸브너트</div>
        <div class="main-item-item">F00V.C13.002</div>
        <div class="main-item-item"></div>
        <div class="main-item-item"></div>
    </div>
</div>
<script src="./js/setTimeOut.js"></script>
</body>
</html>